{% extends "index.html" %}

{% load static %}

{% block home_active %}{% endblock %}

{% block following_active %}
    active
{% endblock %}

{% block content %}

{% for post in posts reversed %}
<div class="feeds">
  <div class="feed">
    <div class="head">

    </div>
    <div class="user">
      <div class="profile-pic" id="set">
          <a href="/profile/{{post.user}}"><img id="prof" src="{% static 'images/BLlogo.png'  %}" alt=""></a>
      </div>
      <a href="/profile/{{post.user}}" class="dev"><div class="info">
          <h3>{{post.user}}</h3>
          <small>{{post.created_at}}</small>
      </div ></a>
      <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
  </div>

  <div class="photo">
    <a href="{{post.image.url}}">
      <img src="{{post.image.url}}" alt=""></a>
  </div>

  <div class="action-button">
      <div class="interaction-button">
        
          <a href="/like_post?post_id={{post.id}}" class="ico" id="likeButton" >
                <span ><i class="uil uil-thumbs-up" ></i></span>
            </a>
            
          <a href="" class="ico"><span><i class="uil uil-comment"></i></span></a>
          <a href="" class="ico"><span><i class="uil uil-share"></i></span></a>
      </div>
      <div class="bookmark">
          <a href="" class="ico like-btn"><span><i class="uil uil-bookmark"></i></span></a>
      </div>
  </div>

  <div class="liked-by">
    {% if post.no_of_likes == 0 %}
      <p><b>No likes</b></p>
      {% elif post.no_of_likes == 1 %}
      <p><b>liked by {{post.no_of_likes}} person</b></p>
      {% else %}
      <p><b>liked by {{post.no_of_likes}} people</b></p>
      {% endif %}
  </div><br>

  <div class="caption">
      <p><b>{{post.user}}</b>{{post.caption|linebreaks}}</p>
  </div>
  <div class="comments text-muted"></div>
    
  </div>
</div>
{% endfor %}


{% endblock %}